.homepage {
    height: 100vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    background-color: #16181d;
}

.header {
    padding: 8vh;
    color: antiquewhite;
    background-color: #16181d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.spin-Btn {
    padding: 5vh;
    background-color: #16181d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-Text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-Text:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid red;
    position: absolute;
    left: 53%;
    /* top: -20px; */
    z-index: 1;
}

.text {
    color: #000000;
    font-size: 10px;
    position: absolute;
    left: -100;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(160deg) rotate(15deg);
    padding-top: 20px;
    cursor: pointer;
}

li:first-child .text {
    background-color: violet;
}

li:nth-child(2) .text {
    background-color: indigo;
}

li:nth-child(3) .text {
    background-color: blue;
}

li:nth-child(4) .text {
    background-color: green;
}

li:nth-child(5) .text {
    background-color: indigo;
}

li:nth-child(6) .text {
    background-color: yellow;
}

li:nth-child(7) .text {
    background-color: greenyellow;
}

li:nth-child(8) .text {
    background-color: peru;
}

li:nth-child(9) .text {
    background-color: pink;
}

li:nth-child(10) .text {
    background-color: orange;
}

li:nth-child(11) .text {
    background-color: orangered;
}

li:nth-child(12) .text {
    background-color: grey;
}

li:first-child {
    transform: rotate(0deg) skew(-60deg);
}

li:nth-child(2) {
    transform: rotate(30deg) skew(-60deg);
}

li:nth-child(3) {
    transform: rotate(60deg) skew(-60deg);
}

li:nth-child(4) {
    transform: rotate(90deg) skew(-60deg);
}

li:nth-child(5) {
    transform: rotate(120deg) skew(-60deg);
}

li:nth-child(6) {
    transform: rotate(150deg) skew(-60deg);
}

li:nth-child(7) {
    transform: rotate(180deg) skew(-60deg);
}

li:nth-child(8) {
    transform: rotate(210deg) skew(-60deg);
}

li:nth-child(9) {
    transform: rotate(240deg) skew(-60deg);
}

li:nth-child(10) {
    transform: rotate(270deg) skew(-60deg);
}

li:nth-child(11) {
    transform: rotate(300deg) skew(-60deg);
}

li:nth-child(12) {
    transform: rotate(330deg) skew(-60deg);
}

.circle {
    width: 20em;
    height: 20em;
    border: 1px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;

}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.start-rotate {
    animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.stop-rotate {
    animation-play-state: paused;
}